:root {
  --bg-color: #F3F1EE;
  --nav-text-color: #333333;
  --text-color: #4F4F4F;
  --text-bt-color: #FEFEFE;
  --title-text-color: #F3B562;
  --green-text-color: #647B64;
  --footer-color: #F0DCC5;
  --card-color: #FFFFFF;
  --social-bg-color: #DFD1C0;
  --input-color: #BDBDBD;
}