.features {
  position: relative;

  &__title {
      margin-bottom: 8px;
    }
  
    &__subtitle {
      display: inline-block;
      margin-bottom: 40px;
    }

    

    
}

.features::before {
  position: absolute;
  z-index: -1;
  bottom: 30px;
  left: 0;
  content: '';
  width: 224px;
  height: 224px;
  background-image: url('/images/decor.png');
  background-repeat: no-repeat;
}

.features::after {
  position: absolute;
  z-index: -1;
  bottom: 32px;
  right: 0;
  content: '';
  width: 600px;
  height: 160px;
  background-image: linear-gradient(164.26deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
  transform: rotate(180deg);
}



