.form {
  display: flex;
  flex-direction: column;


  &__label {
      margin-bottom: 16px;
    }
  
    &__textarea {
      width: 268px;
      height: 144px;
      resize: none;
      padding: 16px 24px;
      outline: none;
      border-color: var(--text-bt-color);
      color: var(--text-color);
  
    }
  
    &__textarea:hover,
    &__textarea:focus {
      border-color: var(--green-text-color);
    }
  
    &__textarea::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.6;
    }
}

