.header-menu {
  display: flex;
  gap: 40px;


  &__item {
      transition: transform 250ms linear;
    }
  
    &__item:hover {
      transform: scale(1.5);
    }
  
  
    &__link {
      color: var(--nav-text-color);
  
    }
}

