.services-item {
  flex-basis: calc((100% - 32px) / 2);
  padding: 32px 40px;
  fill: var(--green-text-color);
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear, fill 250ms linear;

}

.services-item:hover,
.services-item:focus {
  background-color: var(--text-bt-color);
  border-radius: 8px;
  fill: var(--card-color);

}

.services-item:hover .services-container {
  background-color: var(--green-text-color);
}